Ressources/MSP430G2210IDR/UsersGuide_slau144k.pdf
Ressources/MSP430G2210IDR/HardwareTools_slau278y.pdf
/MSP430_code/MSP430G2210_first_try/Debug
/MSP430_code/RemoteSystemsTempFiles
/MSP430_code/.jxbrowser.userdata
MSP430_code/MSP430G2210_first_try/.ccsproject
MSP430_code/MSP430G2210_first_try/.cproject
/MSP430_code/MSP430G2210_first_try/.launches
MSP430_code/MSP430G2210_first_try/.project
/MSP430_code/MSP430G2210_first_try/.settings
/PCBs/Rocket_01/Rocket_01-backups
